<div class="row">
  <form>
    <div class="form-row">
      <h1>Datos de Productor</h1>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="folio">Folio</label>
        <input type="text" class="form-control" id="folio" placeholder="Ej. 12345">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ej. Alan">
      </div>
      <div class="form-group col-md-4">
        <label for="apPaterno">Apellido Paterno</label>
        <input type="text" class="form-control" id="apPaterno" placeholder="Ej. Hernández">
      </div>
      <div class="form-group col-md-4">
        <label for="apMaterno">Apellido Materno</label>
        <input type="text" class="form-control" id="apMaterno" placeholder="Ej. López">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="estado">Estado</label>
        <select id="estado" class="form-control">
          <option selected>Selecciona...</option>
          <option>México</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="municipio">Municipio</label>
        <select id="municipio" class="form-control">
          <option selected>Selecciona...</option>
          <option>Toluca</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="localidad">Localidad</label>
        <select id="localidad" class="form-control">
          <option selected>Selecciona...</option>
          <option>Prados de Tollocan</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Ej. Cond. 27 lote 4">
      </div>
    </div>
    <hr class="my-4">
    <div class="form-row">
      <h1>Datos del predio</h1>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="nombrePropietario">Nombre</label>
        <input type="text" class="form-control" id="nombrePropietario" placeholder="Ej. Alan">
      </div>
      <div class="form-group col-md-4">
        <label for="apPaternoPropietario">Apellido Paterno</label>
        <input type="text" class="form-control" id="apPaternoPropietario" placeholder="Ej. Hernández">
      </div>
      <div class="form-group col-md-4">
        <label for="apMaternoPropietario">Apellido Materno</label>
        <input type="text" class="form-control" id="apMaternoPropietario" placeholder="Ej. López">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="superficie">Superficie (Hectareas)</label>
        <input type="text" class="form-control" id="superficie" placeholder="Ej. 100">
      </div>
      <div class="form-group col-md-4">
        <label for="latitud">Latitud</label>
        <input type="text" class="form-control" id="latitud" placeholder="Ej. 19.290852">
      </div>
      <div class="form-group col-md-4">
        <label for="longitud">Longitud</label>
        <input type="text" class="form-control" id="longitud" placeholder="Ej. -99.652846">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>